* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 0.5fr 6fr 0.5fr;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    background-color: #EAEAEA;  
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #325A89;
    color: white;
    text-align: center;
    padding: 30px;
}

aside {
    grid-area: aside;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

aside h4 {
    padding-bottom: 25px;
}

aside li {
    padding-bottom: 10px;
    list-style: none;
    cursor: pointer;
}

small {
    color: gray;
    margin-left: 5px;
}

main {
    grid-area: main;
    gap: 10px;
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 10px;
    margin: 10px;
    

}

.card-image {
    background-color: white;
    
}


.card-image h3 {
    margin-bottom: 20px;
}

.btn {
    background-color:#325A89;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
}

footer {
    grid-area: footer;
    background-color: white;
    padding: 20px;
    text-align: center;
}